<section class="content-header" th:fragment="menu">
	
	<header class="top-header">
	    <img class="top-header-logo" src="./img/logo.png" alt="Logo Quanto Gasta" />
	    <span class="top-header-logo-name">
	        Quanto Gasta
	    </span>
	    <i id="btnOpenNav" class="material-icons top-header-btn-hamburger" onclick="openNav()">menu</i>
	    <i id="btnCloseNav" class="material-icons top-header-btn-hamburger" style="display:none" onclick="closeNav()">close</i>
	</header>
	
	<aside id="side" class="sidebar">
	
	    <ul>
	    	<li class="sidebar-dropdown">
	    		<a href="/eletrodomesticos">
	    			<span class="sidebar-item dropdown-icon">
		    			<i class="sidebar-item-icon material-icons">video_label</i> 
		    			<span class="sidebar-item-text">Eletrodoméstico</span>
	    			</span>
	    		</a>
	    	</li>
	    	
	    	<li class="sidebar-dropdown">
	    		<a href="/consumo-eletrodomestico">
	    			<span class="sidebar-item dropdown-icon">
		    			<i class="sidebar-item-icon material-icons">equalizer</i> 
		    			<span class="sidebar-item-text">Consumo Eletrodoméstico</span>
	    			</span>
	    		</a>
	    	</li>
	    	
	    	<li class="sidebar-dropdown">
	    		<a href="/conta-mensal">
	    			<span class="sidebar-item dropdown-icon">
		    			<i class="sidebar-item-icon material-icons">attach_money</i> 
		    			<span class="sidebar-item-text">Conta Mensal</span>
	    			</span>
	    		</a>
	    	</li>
		</ul>
	
	</aside>
</section>