<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
 <title>Usuario</title>
</head>
<body>
	<h1 layout:fragment="header">Usuario</h1>
	<div layout:fragment="content" class="well">
		<div class="alert alert-success" th:if="${globalMessage}"
			th:text="${globalMessage}">usuario gravado com sucesso</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td id="id" th:text="${usuario.id}">123</td>
					<td id="nome" th:text="${usuario.nome}">Nome...</td>
				</tr>
			</tbody>
		</table>
		<div class="pull-left">
			<a href="form.html" th:href="@{'/usuarios/alterar/' + ${usuario.id}}">alterar</a>
			| <a href="usuarios" th:href="@{'/usuarios/remover/' + ${usuario.id}}">remover</a>
		    | <a th:href="@{/usuarios/}" href="list.html">voltar</a>
		</div>
	</div>
</body>
</html>