<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<title>Tarifas</title>
</head>
<body>
	<h1 layout:fragment="header">Lista de tarifas</h1>
	<div layout:fragment="content" class="container">
			<a href="form.html" th:href="@{/tarifas/novo}">Nova tarifa</a>
		<div class="alert alert-success" th:if="${globalMessage}"
			th:text="${globalMessage}">mensagem</div>			
		<table class="table table-bordered table-striped">
			<thead> 
				<tr>
					<td>ID</td>
					<td>Valor</td>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${tarifas.empty}">
					<td colspan="3">Sem tarifas</td>
				</tr>
				<tr th:each="item : ${tarifas}">
					<td th:text="${tarifa.id}">1</td>
					<td><a href="view.html" th:href="@{'/tarifas/' + ${tarifa.id}}" th:text="${tarifa.valor}"> valor </a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
